.repository__search {
  padding: 7px 10px;
  font-size: 14px;
  line-height: 20px;
  width: 65%;
  color: $color-btn-text;
  vertical-align: middle;
  border: 1px solid $color-border-primary;
  border-radius: 6px;
  outline: none;
  @include media-query($medium-down) {
    width: 100%;
  }
}
